/* stylizes the body */
body {
    background-color: rgb(246, 242, 247);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100;
  overflow-x:hidden;
  
  }

/* stylizes the navigation bar */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #dda4bf;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
/* stylizes the navigation bar links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-weight: 700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
/* stylizes the navigation bar links ON HOVER */
  .sidenav a:hover {
    color:#a07489;
  }
  
/* stylizes the navigation bar close button */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

 /* stylizes the navigation bar icon */
    #Navicon {
      position: fixed;
    font-size: 35px;
    color: #dda4bf;
    animation: fadeInAnimation ease 3s;

    top: 18px;
    right: 36px;
    margin-left: 50px;
    }


/* stylizes the navigation bar icon ON HOVER */
#Navicon:hover {
    cursor: pointer;
}

/* stylizes the avatar image */
.avatar-img {
  height: 273px;
  width: 273px;
  padding-right:425px;
  animation: fadeInAnimation2 ease 5s;
}

/* stylizes all headers */
h1 {
color: #dda4bf;
font-size: 3rem;
--x-offset: -0.0625em;
--y-offset: 0.0625em;
--stroke: 0.025em;
--background-color: white;
--stroke-color: #a07489;
text-shadow: 
  
  var(--x-offset)
  var(--y-offset)
  0px
  var(--background-color), 
  
  calc( var(--x-offset) - var(--stroke) )
  calc( var(--y-offset) + var(--stroke) )
  0px
  var(--stroke-color);

font-weight: 700;
margin: 400px 0px 0px 400px;
width: 80%;
padding-bottom: 10px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
animation: fadeInAnimation ease 3s;
    animation-fill-mode: forwards;
}

/* stylizes when you hover over "Olivia" */
header  h1 span:hover {
   text-decoration-line: underline;
   text-decoration-style: dashed;
    cursor: pointer;
}

/* stylizes the paragraphs */
p {
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 10px 400px 200px 400px;
font-weight: 450;
font-size: 20px;
animation: fadeInAnimation2 ease 5s;
animation-fill-mode: forwards;
}

/* stylizes links/images to my works */
#works {
  padding-left: 500px;
}
/* stylizes links/images to my work links */
#works:hover {
  opacity:50%;
}
/* stylizes links/images to my social media links */
#socialmedia {
 margin: 0px 10px  0px 500px;

}

/* stylizes links/images to my social media links on hover*/
#socialmedia:hover {
  opacity:50%;
}

/* adds animation for when the page loads*/
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes fadeInAnimation2 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
   
}
/*adds responsive design*/
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction:column;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
